@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: bold;
  font-weight: 700;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: light;
  font-weight: 300;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700) format('woff');
}