<section class="alt-section work-section">
	
	<h3 id="work">Work</h3>


  <div class="work-belt">
    <div class="thumb-wrapp">
     <div class="thumb-container">

       {% for project in site.data.settings.projects %}

       <label data-folder="{{ project.folder }}">
        <div class="thumb-unit">
          <img src="/assets/img/work/{{project.folder}}/thumb.jpg"/>
        </div>
        <div class="thumb-overlay">
          <strong>{{project.name}}</strong>
        </div>
      </label>

      {% endfor %}
    </div>
  </div>
  <div class="work-wrapp">
    <div class="work-container">
    <div class="work-return">{% include icons/back.html %}</div>
      <h4 class="proj-title"></h4>
      <div class="project-load"></div>
    </div>
  </div>
</div>
</section>


